<div class="middle-sidebar-bottom">
    <div class="middle-sidebar-left pe-0">
        <div class="row">
            <div class="card-body d-block w-100 shadow-none mb-0 p-0 border-top-xs">
                <ul class="nav nav-tabs h55 d-flex product-info-tab border-bottom-0 ps-4" id="pills-tab" role="tablist">
                    <li class="list-inline-item me-5"><a asp-controller="Home" asp-action="Search" asp-route-name="@ViewBag.Name" class="fw-700 font-xssss text-grey-500 pt-3 pb-3 ls-1 d-inline-block " data-toggle="tab">People</a></li>
                    <li class="list-inline-item me-5"><a asp-controller="Home" asp-action="SearchForPosts" asp-route-type="Posts"  class="fw-700 font-xssss text-grey-500 pt-3 pb-3 ls-1 d-inline-block @ViewBag.Posts " data-toggle="tab">Posts</a></li>
                    <li class="list-inline-item me-5"><a asp-controller="Home" asp-action="SearchForPosts" asp-route-type="Photos"  class="fw-700 font-xssss text-grey-500 pt-3 pb-3 ls-1 d-inline-block @ViewBag.Photos" data-toggle="tab">Photos</a></li>
                    <li class="list-inline-item me-5"><a asp-controller="Home" asp-action="SearchForPosts" asp-route-type="Videos"  class="fw-700 font-xssss text-grey-500 pt-3 pb-3 ls-1 d-inline-block @ViewBag.Videos" data-toggle="tab">Videos</a></li>

                </ul>
            </div>

            <hr />
            <div class="row ps-2 pe-2">
                @foreach (var post in Model)
                {
                    <div class="card w-100 shadow-xss rounded-xxl border-0 p-4 mb-0">
                        <div class="card-body p-0 d-flex">
                            <a class="card-body p-0 d-flex" asp-controller="user" asp-action="profile" asp-route-id="@post.UserId">
                                <figure class="avatar me-3"><img src="@post.UserPhoto" alt="image" class="shadow-sm rounded-circle w45"></figure>
                                <div class="card-body p-0 me-lg-5">
                                    <h4 class="fw-700 text-grey-900 font-xssss mt-1">@post.UserName</h4>
                                    <h6 class="fw-500 text-grey-450 font-xssss mt-1">@post.CreateAt</h6>
                                </div>
                            </a>
                            @if (post.OriginalUserName == null)
                            {
                                <a href="#" class="ms-auto" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false"><i class="ti-more-alt text-grey-900 btn-round-md bg-greylight font-xss"></i></a>
                                <div class="dropdown-menu dropdown-menu-end p-4 rounded-xxl border-0 shadow-lg" aria-labelledby="dropdownMenu2">
                                    @* <div class="card-body p-0 d-flex">
                            <i class="feather-bookmark text-grey-500 me-3 font-lg"></i>
                            <h4 class="fw-600 text-grey-900 font-xssss mt-0 me-4">Save Link <span class="d-block font-xsssss fw-500 mt-1 lh-3 text-grey-500">Add this to your saved items</span></h4>
                            </div> *@
                                    <div class="card-body p-0 d-flex mt-2">
                                        <a asp-action="Report" asp-controller="Posts" asp-route-id="@post.Id">
                                            <i class="feather-alert-circle text-grey-500 me-3 font-lg"></i>
                                            <h4 class="fw-600 text-grey-900 font-xssss mt-0 me-4">Report </h4>
                                        </a>
                                    </div>

                                </div>
                            }
                            else
                            {
                                <a href="#" class="ms-auto" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false"><i class="ti-more-alt text-grey-900 btn-round-md bg-greylight font-xss"></i></a>
                                <div class="dropdown-menu dropdown-menu-end p-4 rounded-xxl border-0 shadow-lg" aria-labelledby="dropdownMenu2">
                                    @* <div class="card-body p-0 d-flex">
                            <i class="feather-bookmark text-grey-500 me-3 font-lg"></i>
                            <h4 class="fw-600 text-grey-900 font-xssss mt-0 me-4">Save Link <span class="d-block font-xsssss fw-500 mt-1 lh-3 text-grey-500">Add this to your saved items</span></h4>
                            </div> *@
                                    <div class="card-body p-0 d-flex mt-2">
                                        <a asp-action="Report" asp-controller="Posts" asp-route-id="@post.OriginalId">
                                            <i class="feather-alert-circle text-grey-500 me-3 font-lg"></i>
                                            <h4 class="fw-600 text-grey-900 font-xssss mt-0 me-4">Report </h4>
                                        </a>
                                    </div>

                                </div>
                            }
                        </div>
                        <div class="card-body p-0 me-lg-5">
                            <p class="text-grey-600 lh-26 font-xssss w-100 mb-2"><b>@post.PostContent</b></p>
                        </div>
                        @if (post.OriginalUserName != null)
                        {
                            <hr />
                            <a class="card-body p-0 d-flex" asp-controller="user" asp-action="profile" asp-route-id="@post.OriginalUserId">
                                <div class="card-body p-0 d-flex">
                                    <figure class="avatar me-3"><img src="@post.OriginalUserPhoto" alt="image" class="shadow-sm rounded-circle w45"></figure>
                                    <div class="card-body p-0 me-lg-5">
                                        <h4 class="fw-700 text-grey-900 font-xssss mt-1">@post.OriginalUserName</h4>
                                    </div>
                                </div>
                            </a>
                            <div class="card-body p-0 me-lg-5">
                                <p class="text-grey-600 lh-26 font-xssss w-100 mb-2"><b>@post.OriginalPostContent</b></p>
                            </div>
                        }

                        @if (post.PostImj != null)
                        {
                            <div class="card-body d-block p-0 mb-3">
                                <div class="row ps-2 pe-2">
                                    @if (post.PostImj[post.PostImj.Length - 1] != '4')
                                    {
                                        <div class="col-sm-12 p-1"><img src="@post.PostImj" class="rounded-3 w-100" alt="image"></div>
                                    }
                                    else
                                    {
                                        <div class="col-sm-12 p-1">
                                            <video width="100%" controls>
                                                <source src="@post.PostImj" type="video/mp4">
                                                Your browser does not support the video tag.
                                            </video>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                        @if (post.OriginalUserName == null)
                        {

                            <div class="card-body d-flex p-0">
                                @if (!post.Isliked)
                                {
                                    <a id="likeButton-@post.Id" data-post-id="@post.Id" class="likeButton-@post.Id like-button d-flex align-items-center fw-600 text-grey-900 text-dark lh-26 font-xssss me-2">
                                        <i class="feather-thumbs-up text-white me-1 btn-round-xs font-xss" style="background-color:gray;"></i>
                                    </a>
                                }
                                else
                                {
                                    <a id="likeButton-@post.Id" data-post-id="@post.Id" class="likeButton-@post.Id like-button d-flex align-items-center fw-600 text-grey-900 text-dark lh-26 font-xssss me-2">
                                        <i class="feather-thumbs-up text-white bg-primary-gradiant me-1 btn-round-xs font-xss"></i>
                                    </a>
                                }
                                <td><a href="#" onclick="GetData(@post.Id)" class="d-flex align-items-center fw-600 text-grey-900 text-dark lh-26 font-xssss"><i class="feather-message-circle text-dark text-grey-900 btn-round-sm font-lg"></i><span class="d-none-xss"> Comment</span></a> </td>

                                <a asp-controller="Posts" asp-action="SharePost" asp-route-ID="@post.Id" class="ms-auto d-flex align-items-center fw-600 text-grey-900 text-dark lh-26 font-xssss"><i class="feather-share-2 text-grey-900 text-dark btn-round-sm font-lg"></i><span class="d-none-xs">Share</span></a>
                            </div>
                            <div id="@post.Id">
                                <input id="appear-@post.Id" class="appear-@post.Id" value="false" style="display:none">

                            </div>

                        }
                        else
                        {
                            <div class="card-body d-flex p-0">
                                @if (!post.Isliked)
                                {
                                    <a id="likeButton-@post.OriginalId" data-post-id="@post.OriginalId" class="likeButton-@post.OriginalId like-button d-flex align-items-center fw-600 text-grey-900 text-dark lh-26 font-xssss me-2">
                                        <i class="feather-thumbs-up text-white me-1 btn-round-xs font-xss" style="background-color:gray;"></i>
                                    </a>
                                }
                                else
                                {
                                    <a id="likeButton-@post.OriginalId" data-post-id="@post.OriginalId" class="likeButton-@post.OriginalId like-button d-flex align-items-center fw-600 text-grey-900 text-dark lh-26 font-xssss me-2">
                                        <i class="feather-thumbs-up text-white bg-primary-gradiant me-1 btn-round-xs font-xss"></i>
                                    </a>
                                }


                                <a asp-controller="Posts" asp-action="SharePost" asp-route-ID="@post.OriginalId" class="ms-auto d-flex align-items-center fw-600 text-grey-900 text-dark lh-26 font-xssss"><i class="feather-share-2 text-grey-900 text-dark btn-round-sm font-lg"></i><span class="d-none-xs">Share</span></a>


                            </div>


                        }


                    </div>
                    <br />
                }

            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>
    $(document).ready(function () {
        $('.like-button').click(function () {
            var postId = $(this).data('post-id');
            var place = $(this).data('place');
            var isLiked = $(this).find('i').hasClass('bg-primary-gradiant');

            $.ajax({
                url: isLiked ? '/Posts/DeleteLike' : '/Posts/Like',
                type: 'POST',
                data: { id: postId, place: place },
                success: function (response) {
                    if (response.success) {
                        if (isLiked) {
                            $('.likeButton-' + postId).html('<i class="feather-thumbs-up text-white me-1 btn-round-xs font-xss" style="background-color:gray;"></i>');
                        } else {
                            $('.likeButton-' + postId).html('<i class="feather-thumbs-up text-white bg-primary-gradiant me-1 btn-round-xs font-xss"></i>');
                        }
                    } else {
                        alert('An error occurred');
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log('Response Text:', jqXHR.responseText);
                    alert('An error occurred');
                }
            });
        });
    });
</script>


<script>
    function GetData(Id) {
        event.preventDefault();
        //console.log(Id);
        var appear = document.getElementById('appear-' + Id).value;

        $.ajax({
            url: '/Posts/ShowComment/',
            data: { Id },
            success: function (result) {
                if (appear == 'false')
                    document.getElementById(Id).innerHTML = result;
                else
                    document.getElementById(Id).innerHTML = '<input id="appear-' + Id + '" value="false" style="display: none;">';



            }
        });

    }



</script>

<script>
    function CreateComment(Id) {
        event.preventDefault();
        var Content = document.getElementById('CommentContent').value;
        $.ajax({
            url: '/Posts/CreateComment',
            data: { id: Id, content: Content },
            success: function (result) {
                document.getElementById(Id).innerHTML = result;
                console.log(Id);
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
            }
        });



    }


</script>