@model Sociala.Models.User

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
}

<form asp-controller="User" asp-action="EditProfile" id="EditForm" method="post" class="mx-1 mx-md-4" onsubmit="return validateForm()" enctype="multipart/form-data">
    <div class="main-content bg-lightblue theme-dark-bg right-chat-active" style=" display: grid;
        grid-template-columns: 1fr 1fr;  display: grid;
        grid-template-columns: 60% 40%;">

        <div class="middle-sidebar-bottom">
            <div class="middle-sidebar-left" style="padding:-50px">
                <div class="middle-wrap">
                    <div class="card w-100 border-0 bg-white shadow-xs p-0 mb-4">
                            <div class="card-body p-4 w-100 bg-current border-0 d-flex rounded-3">
                                <a href="Profile.cshtml" class="d-inline-block mt-2"><i class="ti-arrow-left font-sm text-white"></i></a>
                                <h4 class="font-xs text-white fw-600 ms-4 mb-0 mt-2">Account Details</h4>
                            </div>
    <div class="form-group">
      
        <label asp-for="UesrName" class="form-label" for="form3Example1c">Username</label>
        <input asp-for="UesrName" type="text" id="form3Example1c" class="form-control" placeholder="UserName" value="@Model.UesrName" required />
    </div>
   
    <div class="form-group">
        <label asp-for="PhoneNumber" class="form-label" for="form3Example3c">Phone number</label>
        <input asp-for="PhoneNumber" type="PhoneNumber" id="form3Example3c" class="form-control" placeholder="Phone number" value="@Model.PhoneNumber" required />
    </div>
    <div class="form-group">
        <label asp-for="bio" class="form-label" for="form3Example3c">Bio</label>
        <input asp-for="bio" type="PhoneNumber" id="form3Example3c" class="form-control" placeholder="bio" value="@Model.bio" required />
    </div>
    <div class="form-group">
        @if (!string.IsNullOrEmpty(ViewBag.PhotoMessage))
        {
            <p style="color: red">@ViewBag.PhotoMessage</p>
        }
        <label asp-for="UrlPhoto" class="control-label" style="color:white;"></label>
        <input asp-for="UrlPhoto" type="file" accept=".jpg, .jpeg, .png" class="form-control" autocomplete="UrlPhoto" aria-required="true" placeholder="UrlPhoto" style="margin-bottom:20px" value="@Model.UrlPhoto" />
    </div>
    <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
            </div>
        </div>
        </div>
    </div>
</form>
