@model Sociala.Models.User

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
}

<form asp-controller="User" asp-action="EditProfile" id="EditForm" method="post" class="mx-1 mx-md-4" onsubmit="return validateForm()" enctype="multipart/form-data">
    <div class="main-content bg-lightblue theme-dark-bg right-chat-active" style=" display: grid;
        grid-template-columns: 1fr 1fr;  display: grid;
        grid-template-columns: 60% 40%;">

        <div class="middle-sidebar-bottom">
            <div class="middle-sidebar-left" style="padding:-50px">
                <div class="middle-wrap">
                    <div class="card w-100 border-0 bg-white shadow-xs p-0 mb-4">
                            <div class="card-body p-4 w-100 bg-current border-0 d-flex rounded-3">
                                <h4 class="font-xs text-white fw-600 ms-4 mb-0 mt-2">Account Details</h4>
                            </div>

                        <div class="card-body p-lg-5 p-4 w-100 border-0 ">
                            <div class="row justify-content-center">
                                <div class="col-lg-4 text-center">
                                    <figure class="avatar ms-auto me-auto mb-0 mt-2 w100"><img src="@Model.UrlPhoto" alt="image" class="shadow-sm rounded-3 w-100"></figure>
                                    <h2 class="fw-700 font-sm text-grey-900 mt-3">@Model.UesrName</h2>
                                    <h4 class="text-grey-500 fw-500 mb-3 font-xsss mb-4">@Model.PhoneNumber</h4>
                                    <!-- <a href="#" class="p-3 alert-primary text-primary font-xsss fw-500 mt-2 rounded-3">Upload New Photo</a> -->
                                </div>
                            </div>
    <div class="form-group">
      
        <label asp-for="UesrName" class="form-label" for="form3Example1c">Username</label>
        <input asp-for="UesrName" type="text" id="form3Example1c" class="form-control" placeholder="UserName" value="@Model.UesrName" required />
    </div>
   
    <div class="form-group">
                                @if (!string.IsNullOrEmpty(ViewBag.PhoneNumberMessage))
                                {
                                    <p style="color: red">@ViewBag.PhoneNumberMessage</p>
                                }
        <label asp-for="PhoneNumber" class="form-label" for="form3Example3c">Phone number</label>
        <input asp-for="PhoneNumber" type="PhoneNumber" id="form3Example3c" class="form-control" placeholder="Phone number" value="@Model.PhoneNumber" required  />
    </div>
    <div class="form-group">
        <label asp-for="bio" class="form-label" for="form3Example3c">Bio</label>
        <input asp-for="bio" type="PhoneNumber" id="form3Example3c" class="form-control" placeholder="bio" value="@Model.bio"  />
    </div>
                            <div class="col-lg-12 mb-3">
                                @if (!string.IsNullOrEmpty(ViewBag.PhotoMessage))
                                {
                                    <p style="color: red">@ViewBag.PhotoMessage</p>
                                }
                                <div class="card mt-3 border-0">
                                    <div class="card-body d-flex justify-content-between align-items-end p-0">
                                        <div class="form-group mb-0 w-100">
                                            <input asp-for="UrlPhoto" type="file" accept=".jpg, .jpeg, .png" name="file" id="file" class="input-file" autocomplete="UrlPhoto" aria-required="true" placeholder="UrlPhoto" value="@Model.UrlPhoto">
                                            <label asp-for="UrlPhoto" class="rounded-3 text-center bg-white btn-tertiary js-labelFile p-4 w-100 border-dashed">
                                                <i class="ti-cloud-down large-icon me-3 d-block"></i>
                                                <span class="js-fileName">Drag and drop or click to replace Photo</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" style="display:none;">
        @if (!string.IsNullOrEmpty(ViewBag.PhotoMessage))
        {
            <p style="color: red">@ViewBag.PhotoMessage</p>
        }
        <label asp-for="UrlPhoto" class="control-label" style="color:white;"></label>
        <input asp-for="UrlPhoto" type="file" accept=".jpg, .jpeg, .png" class="form-control" autocomplete="UrlPhoto" aria-required="true" placeholder="UrlPhoto" style="margin-bottom:20px" value="@Model.UrlPhoto" />
    </div>
                            <a asp-controller="User" asp-action="EditPassword" class=" translate-middle-y bg-primary p-2 rounded-3 text-white font-size-sm text-uppercase fw-bold">Edit Password</a>

                            <br />
                            <br />

                            <button type="submit" class="btn btn-primary" style="margin-left:33%">Save Changes</button>

                </div>
            </div>
        </div>
        </div>
    </div>
</form>
