@using Sociala.ViewModel;
@inject AuthorizationService.IAuthorization Authorization
@inject Sociala.Services.ICheckRelationShip CheckRelationShip
@model Sociala.Models.User
@{
	ViewBag.Title = "Friends";
}

    <div class="middle-sidebar-bottom">
        <div class="middle-sidebar-left pe-0">
            <div class="row">
                <div class="col-xl-12">
                    <style>
                        .search-form {
                            margin-left: auto; 
                        }
                    </style>
                    <div class="card shadow-xss w-100 d-block d-flex border-0 p-4 mb-3">
                        <div class="card-body d-flex align-items-center p-0">
                            <h2  style="color:blue"class="fw-700 mb-0 mt-0 font-md text-grey-900 friends-title">Friends</h2>
                            <form asp-controller="User" asp-action="Search" method="post" class="search-form header-search">
                                <div class="form-group mb-0 icon-input">
                                    <i class="feather-search font-sm text-grey-400"></i>
                                    <input type="text" name="Name" placeholder="Search in your friends..." class="bg-grey border-0 lh-32 pt-2 pb-2 ps-5 pe-3 font-xssss fw-500 rounded-xl w350 theme-dark-bg">
                                </div>
                            </form>
                        </div>
                    </div>


                    <div class="row ps-2 pe-2">

                        @foreach (User user in (List<User>) ViewBag.Friends)
                        {
                        @if (!ViewBag.IsAdmin)
                        {


                            @if (CheckRelationShip.IsMe(user.Id))
                            {
                                <div class="col-md-3 col-sm-4 pe-2 ps-2">
                                    <div class="card d-block border-0 shadow-xss rounded-3 overflow-hidden mb-3">
                                        <div class="card-body d-block w-100 ps-3 pe-3 pb-4 text-center">
                                            <a asp-controller="User" asp-action="Profile" asp-route-Id="@user.Id">
                                                <figure class="avatar ms-auto me-auto mb-0 position-relative w65 z-index-1">
                                                    <img src="@user.UrlPhoto" alt="image" class="float-right p-0 bg-white rounded-circle w-100 shadow-xss">
                                                </figure>
                                            </a>
                                            <div class="clearfix"></div>
                                            <a asp-controller="User" asp-action="Profile" asp-route-Id="@user.Id">@user.UesrName</a>
                                            <p class="fw-500 font-xsssss text-grey-500 mt-0 mb-3"></p>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {

                                if ((!CheckRelationShip.IsBlocked(user.Id) && !CheckRelationShip.IsBlocking(user.Id)))
                                {

                                    @if (CheckRelationShip.IsRequested(user.Id))
                                    {
                                        <div class="col-md-3 col-sm-4 pe-2 ps-2">
                                            <div class="card d-block border-0 shadow-xss rounded-3 overflow-hidden mb-3">
                                                <div class="card-body d-block w-100 ps-3 pe-3 pb-4 text-center">
                                                    <a asp-controller="User" asp-action="Profile" asp-route-Id="@user.Id">
                                                        <figure class="avatar ms-auto me-auto mb-0 position-relative w65 z-index-1">
                                                            <img src="@user.UrlPhoto" alt="image" class="float-right p-0 bg-white rounded-circle w-100 shadow-xss">
                                                        </figure>
                                                    </a>
                                                    <div class="clearfix"></div>
                                                    <a asp-controller="User" asp-action="Profile" asp-route-Id="@user.Id">@user.UesrName</a>
                                                    <p class="fw-500 font-xsssss text-grey-500 mt-0 mb-3"></p>
                                                    <a asp-controller="User" asp-action="Derequest" asp-route-place="Friends" asp-route-Id="@user.Id" class="mt-0 btn pt-2 pb-2 ps-3 pe-3 lh-24 ms-1 ls-3 d-inline-block rounded-xl font-xsssss fw-700 ls-lg text-white" style="background-color: red;">Derequest</a>
                                                </div>
                                            </div>
                                        </div>


                                    }
                                    else if (CheckRelationShip.IsFriend(user.Id))
                                    {

                                        <div class="col-md-3 col-sm-4 pe-2 ps-2">
                                            <div class="card d-block border-0 shadow-xss rounded-3 overflow-hidden mb-3">
                                                <div class="card-body d-block w-100 ps-3 pe-3 pb-4 text-center">
                                                    <a asp-controller="User" asp-action="Profile" asp-route-Id="@user.Id">
                                                        <figure class="avatar ms-auto me-auto mb-0 position-relative w65 z-index-1">
                                                            <img src="@user.UrlPhoto" alt="image" class="float-right p-0 bg-white rounded-circle w-100 shadow-xss">
                                                        </figure>
                                                    </a>
                                                    <div class="clearfix"></div>
                                                    <a asp-controller="User" asp-action="Profile" asp-route-Id="@user.Id">@user.UesrName</a>
                                                    <p class="fw-500 font-xsssss text-grey-500 mt-0 mb-3"></p>
                                                    <a style="color: blue" class="mt-0 btn pt-2 pb-2 ps-3 pe-3 lh-24 ms-1 ls-3 d-inline-block rounded-xl bg-primary font-xsssss fw-700 ls-lg text-white">Friend</a>
                                                </div>
                                            </div>
                                        </div>



                                    }
                                    else if (CheckRelationShip.IsRequesting(user.Id))
                                    {
                                        <div class="col-md-3 col-sm-4 pe-2 ps-2">
                                            <div class="card d-block border-0 shadow-xss rounded-3 overflow-hidden mb-3">
                                                <div class="card-body d-block w-100 ps-3 pe-3 pb-4 text-center">
                                                    <a asp-controller="User" asp-action="Profile" asp-route-Id="@user.Id">
                                                        <figure class="avatar ms-auto me-auto mb-0 position-relative w65 z-index-1">
                                                            <img src="@user.UrlPhoto" alt="image" class="float-right p-0 bg-white rounded-circle w-100 shadow-xss">
                                                        </figure>
                                                    </a>
                                                    <div class="clearfix"></div>
                                                    <a asp-controller="User" asp-action="Profile" asp-route-Id="@user.Id">@user.UesrName</a>
                                                    <p class="fw-500 font-xsssss text-grey-500 mt-0 mb-3"></p>
                                                    <div class="card-body d-flex align-items-center pt-0 ps-4 pe-4 pb-4">
                                                        <a asp-controller="User" asp-action="ConfirmRequest" asp-route-place="Friends"  asp-route-id="@user.Id" asp-route-Place="Index" class="p-2 lh-20 w100 bg-primary-gradiant me-2 text-white text-center font-xssss fw-600 ls-1 rounded-xl">Confirm</a>
                                                        <a asp-controller="User" asp-action="DeleteRequest" asp-route-place="Friends" asp-route-id="@user.Id" asp-route-Place="Index" class="p-2 lh-20 w100 bg-grey text-grey-800 text-center font-xssss fw-600 ls-1 rounded-xl">Delete</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    }
                                    else
                                    {
                                        <div class="col-md-3 col-sm-4 pe-2 ps-2">
                                            <div class="card d-block border-0 shadow-xss rounded-3 overflow-hidden mb-3">
                                                <div class="card-body d-block w-100 ps-3 pe-3 pb-4 text-center">
                                                    <a asp-controller="User" asp-action="Profile" asp-route-Id="@user.Id">
                                                        <figure class="avatar ms-auto me-auto mb-0 position-relative w65 z-index-1">
                                                            <img src="@user.UrlPhoto" alt="image" class="float-right p-0 bg-white rounded-circle w-100 shadow-xss">
                                                        </figure>
                                                    </a>
                                                    <div class="clearfix"></div>
                                                    <a asp-controller="User" asp-action="Profile" asp-route-Id="@user.Id">@user.UesrName</a>
                                                    <p class="fw-500 font-xsssss text-grey-500 mt-0 mb-3"></p>
                                                    <a asp-controller="User" asp-action="AddFriend" asp-route-Id="@user.Id" asp-route-place="Friends" class="mt-0 btn pt-2 pb-2 ps-3 pe-3 lh-24 ms-1 ls-3 d-inline-block rounded-xl bg-success font-xsssss fw-700 ls-lg text-white">Add Friend</a>
                                                </div>
                                            </div>
                                        </div>

                                    }
                                }
                            }

                    }
                        else
                        {
                            <div class="col-md-3 col-sm-4 pe-2 ps-2">
                                <div class="card d-block border-0 shadow-xss rounded-3 overflow-hidden mb-3">
                                    <div class="card-body d-block w-100 ps-3 pe-3 pb-4 text-center">
                                        <a asp-controller="User" asp-action="Profile" asp-route-Id="@user.Id">
                                            <figure class="avatar ms-auto me-auto mb-0 position-relative w65 z-index-1">
                                                <img src="@user.UrlPhoto" alt="image" class="float-right p-0 bg-white rounded-circle w-100 shadow-xss">
                                            </figure>
                                        </a>
                                        <div class="clearfix"></div>
                                        <a asp-controller="User" asp-action="Profile" asp-route-Id="@user.Id">@user.UesrName</a>
                                       
                                    </div>
                                </div>
                            </div>
                        }
                    }


                    </div>
                </>
            </div>
        </div>

    </div>
</div>