@using Sociala.ViewModel;
@{
    ViewBag.Title = "Search";
}


<!-- main content -->
<div class="main-content right-chat-active">

    <div class="middle-sidebar-bottom">
        <div class="middle-sidebar-left pe-0">
            <div class="row">
                <div class="col-xl-12">
               

                    <div class="row ps-2 pe-2">

                        @foreach (User user in ViewBag.Requests)
                        {
                            <div class="card-body d-flex pt-4 ps-4 pe-4 pb-0 border-top-xs bor-0">
                               <a asp-controller="User" asp-action="Profile" asp-route-Id="@user.Id">
                                            <figure class="avatar ms-auto me-auto mb-0 position-relative w65 z-index-1">
                                                <img src="@user.UrlPhoto" alt="image" class="float-right p-0 bg-white rounded-circle w-100 shadow-xss">
                                            </figure>
                                 </a>
                                <a asp-controller="User" asp-action="Profile" asp-route-Id="@user.Id">@user.UesrName</a>
                            </div>
                            <div class="card-body d-flex align-items-center pt-0 ps-4 pe-4 pb-4">
                                <a asp-controller="User" asp-action="ConfirmRequest" asp-route-id="@user.Id" asp-route-Place="Show" class="p-2 lh-20 w100 bg-primary-gradiant me-2 text-white text-center font-xssss fw-600 ls-1 rounded-xl">Confirm</a>
                                <a asp-controller="User" asp-action="DeleteRequest" asp-route-id="@user.Id" asp-route-Place="Show" class="p-2 lh-20 w100 bg-grey text-grey-800 text-center font-xssss fw-600 ls-1 rounded-xl">Delete</a>
                            </div>
                        }


                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- main content -->
